<div class="thumbnail">
  <img src="http://placehold.it/820x230" alt="">
  <div>
    <h4>{{prod.title}}</h4>
    <h4>￥{{prod.price}}</h4>
    <p>{{prod.desc}}</p>
  </div>
  <div>
    <p class="pull-right">{{comments.length}}</p>
    <app-stars [rating]="prod.rating"></app-stars>
  </div>
</div>

<div class="well">
  <div class="row" *ngFor="let comment of comments">
    <hr/>
    <div class="col-md-12">
      <span><app-stars [rating]="comment.rating"></app-stars></span>
      <span>{{comment.user}}</span>
      <span class="pull-right">{{comment.timestamp}}</span>
      <p></p>
      <p>{{comment.content}}</p>
    </div>
  </div>
</div>